.app {
  height: 100vh;
  display: flex;
  background-color: #020230;
  color: white;
}
.main {
  width: 75%;
  background: linear-gradient(to bottom, rgba(20, 9, 9, 0), #020230),
    url("./assets/Kbc2.jpg") center no-repeat;
  display: flex;
  flex-direction: column;
}
.bottom {
  height: 50%;
}
.pyramid {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moneyList {
  list-style: none;
  width: 100%;
  padding: 20px;
  border: 3px solid white;
  border-radius: 10px;
}
.moneyListItem {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.moneyListItem.active {
  background-color: teal;
}
.moneyListItemNumber {
  font-size: 18px;
  font-weight: 100;
  width: 30%;
}
.moneyListItemAmount {
  font-size: 20px;
  font-weight: 500;
}
.endText {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
